<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
 https://www.springframework.org/schema/beans/spring-beans.xsd">
	<!-- services -->
	<bean id="add" class=" com.rt.SpringIoc_03.Address" p:city="Sangola" p:state="MH" p:country="india"></bean>
	
	<bean id="Emp" class=" com.rt.SpringIoc_03.Employee">
		<property name="id">
		<value>101</value>
		</property>
		<property name="empName">
		<value>Siya</value>
		</property>
		<property name="sal">
		<value>1000</value>
		</property>
		<property name="dept">
		<value>S/W Developnement</value>
		</property>
		<property name="adr" ref="add"/>
	
	</bean>
</beans>